include LICENSE
include README.md
recursive-include phishpedia/src/detectron2_pedia/configs/*
include phishpedia/src/detectron2_pedia/output/rcnn_2/rcnn_bet365.pth
include phishpedia/src/siamese_pedia/domain_map.pkl
include phishpedia/src/siamese_pedia/expand_targetlist.zip
include phishpedia/src/siamese_pedia/resnetv2_rgb_new.pth.tar