torch==1.5.1
torchvision==0.6.0
torchsummary
scipy
tldextract
opencv-python
selenium
helium
selenium-wire
webdriver-manager
pandas
numpy
tqdm
Pillow
pathlib
fvcore
pycocotools
errno
scikit-learn
advertorch
python-telegram-bot
gspread
oauth2client





